* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.h1,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #312c2c;
  margin: 1em 0 0.5em;
  padding: 0;
}

.fa-star {
  color: #ff9c9a;
}

p {
  color: #707070;
  margin: 1em 0 0.5em;
  padding: 0;
}

.container {
  padding: 0 2rem;
}

img {
  width: 100%;
}
/* Button-Default */
.hss_button {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.button_blue {
  background-color: blue;
  color: #fff;
}
/* MENU SECTION */

#menu_section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
}

.menu {
  display: none;
}

.menu_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu_wrapper.logo {
  width: 8rem;
}

/* HERO SECTION */

#hero_section {
  margin-top: 4rem;
}

.hero_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero_info > .description {
  margin-bottom: 2rem;
}

.hero_image_small {
  background: url(./images/hphero-image-mobile.jpg) no-repeat;
  height: 190px;
  background-size: contain;
}

#hero_section .store_rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero_section .store_rating p.rating.google_play {
  display: none;
}

/* FEATURE SECTION */
.feature_description {
  padding: 2rem 2rem 1.4rem;
}
.feature_description > .heading,
.feature_description > .description {
  text-align: center;
}
.feature_description > .heading {
  font-size: 20px;
  line-height: 28px;
}

.feature_description > .description {
  line-height: 22px;
}

.feature_description > .sitation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.feature_description .stitation_quote {
  font-size: 12px;
  line-height: 18px;
  width: 65%;
}

/* Learn How To Section */

#howto_section {
  background: url(./images/hp-animation.jpg) no-repeat center;
  background-size: cover;
  background-color: red;
  height: 630px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#howto_section .heading {
  text-align: center;
  margin-top: 40px;
}

/* Testimonial Section */

.testimonial .heading {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #312c2c;
  text-align: center;
}

.testimonial_cards_row {
  padding: 15px 0;
}

.testimonial_card {
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
}

.testimonial_card .description {
  text-align: center;
  margin-bottom: 22px;
}

#testimonial_section .testimonial {
  padding: 15px 0;
}

#testimonial_section .store_rating {
  text-align: center;
  padding-bottom: 16px;
}


/* Call to action section */

#call_action_section {
  background: url(images/mwimage-dark-blue.jpg) no-repeat;
  padding-bottom: 300px;
}

#call_action_section .call_to_action {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 32px;
}

.call_to_action > .heading {
  color: white;
}


/* Footer section */

div#footer_section {
  background: #101010;
  color: white;
}

.footer_column {
  padding-top: 8px;
}

.footer_column ul {
  list-style-type: none;
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px;
}

